.eventDescription {
    white-space: pre-line;
    font-size: 16px;
}

.eventImg {
    border-radius: 3px;
}

.leftGutter {
    padding-right: 5px;
}

.eventTitle {
    margin-top: 0;
}

.eventTitle>a {
    text-transform: none;
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none !important;
}

.attendBtn {
    width: 100%;
    margin-top: 10px;
    height: 40px;

    background-color: #1890ff;
    border-color: #1890ff;
}

.attendBtn:hover, .attendBtn:focus {
    background-color: #40a9ff !important;
    border-color: #40a9ff !important;
}

.attendBtn:active {
    background-color: #096dd9 !important;
    border-color: #096dd9 !important;
}

.eventItem {
    margin: 45px 0;
}

.pageTitle {
    text-align: center;
}